@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes water {
  0% {
    background-color: #76a1c6; /* светлый цвет */
  }
  50% {
    background-color: #3e78d6; /* темный цвет */
  }
  100% {
    background-color: #76a1c6; /* светлый цвет */
  }
}

.water {
  animation: water 3s infinite; /* продолжительность анимации 3 секунды, повторять бесконечно */
}
